Welcome to Chitter - Peep Peep Peep!
<br>
<div>
  <form action="/peep_post" method="post">
    <label for="Peep">Peep:</label>
    <input type="text" name="Peep">
    <label for="User">User:</label>
    <input type="text" name="User">
    <input type="submit" value="Post Peep">
  </form>
</div>
