Post a Peep
<br>
<br>
<div>
  <form action="/peep_post" method="post">
    <label for="peep">Peep:</label>
    <input type="text" name="peep">
    <br>
    <br>
    <input type="submit" value="Post Peep">
  </form>
</div>
<div>
  <form action="/profile">
    <input type="submit" value="View Profile">
  </form>
</div>
