Post a Peep
<br>
<br>
<div>
  <form action="/peep_post" method="post">
    <label for="peep">Peep:</label>
    <input type="text" name="peep">
    <br>
    <br>
    <!-- <label for="name">Name:</label>
    <input type="text" name="name">
    <br>
    <br>
    <label for="username">Username:</label>
    <input type="text" name="username">
    <br>
    <br> -->
    <input type="submit" value="Post Peep">
  </form>
</div>
